<ion-header>
	<ion-toolbar color="danger">
		<!-- <center> -->
			<ion-title color="dark" size="large"><b>e-Aduan KUPTM</b></ion-title>
		<!-- </center> -->
		<ion-buttons color="dark" slot="start">
			<ion-menu-button menu="main-menu"></ion-menu-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content fullscreen="true">

	<ion-fab horizontal="end" vertical="bottom" slot="fixed">
		<ion-fab-button routerLink="/newcomp" color="dark">
			<ion-icon name="add"></ion-icon>
		</ion-fab-button>
	</ion-fab>

	<div id="container">
		<ion-card>
			<img src="./assets/kuptm2.jpg" />
			<ion-card-header>
				<ion-card-title>KUPTM History</ion-card-title>
			</ion-card-header>
			<ion-card-content>
				KPTM has stridden through another historical milestone in its excellent journey in academia recently when its  Kuala Lumpur branch was upgraded to a full university college status. Today, since October 2015, KPTM KL is proudly known as Kolej Universiti Poly-Tech MARA (KUPTM), offering high quality home-grown degree programmes in the area of Accountancy, Communication, Human Resources, English and Information Security.
			</ion-card-content>
		</ion-card>

		<ion-card>
			<img src="./assets/kuptm1.jpg" />
			<ion-card-header>
				<ion-card-title>When it start?</ion-card-title>
			</ion-card-header>
			<ion-card-content>
				It all started in January 1983 with the establishment of the Learning Resource Centre in Kota Bharu, Kelantan. In June 1983 Maktab Sains MARA (also known as MARA Community College) in Kuantan, Pahang was formed. At that time, it offered a twinning programme known as the American Associate Degree (AAD).  The programme was well accepted by more than 75 universities in the United States and New Zealand as a 2+2 transfer degree programme. This remarkable achievement later led to the establishment of KPTM Kuala Lumpur (1987), KPTM Bangi (1988) and KPTM Kota Bharu (1994).
			</ion-card-content>
		</ion-card>
	</div>


	</ion-content>