<ion-content [fullscreen]="true" class="ion-padding">

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

  <center>
  <img src="assets/logo kuptm.png">
  </center>

  <ion-text>
    <p>Kolej Universiti Poly-Tech Mara, Kuala Lumpur</p>
  </ion-text>

  <div class="actions">
    <div class="login-button">
      <ion-button routerLink="/register" expand="block" color="dark">
        <ion-icon name="add-circle-outline"></ion-icon>
        <ion-label>&nbsp;Register</ion-label>
      </ion-button>

    <div class="separator">
        <span> or </span>
        <span class="line left"></span>
        <span class="line right"></span>
      </div>

      <ion-button routerLink="/login" expand="block" color="dark">
        <ion-icon name="log-in-outline"></ion-icon>
        <ion-label>&nbsp;Login</ion-label>
      </ion-button>

      <!-- <ion-button routerLink="/index" expand="block" color="dark">
        <ion-label>INDEX</ion-label>
      </ion-button> -->

    </div>
</div>

</ion-content>
