.logo {
	margin-top: 42%;
	img {
	height: 100px;
	}
}

.form {
margin-top: -2px;
	ion-item {
	border-radius: 5px;
	border-color: rgb(201, 201, 201);
	border-width: 2px;
	border-style: solid;
	margin-bottom: 10px;
	}
}